<!DOCTYPE html>
<html lang="en">

<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/formularios/src/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</header>

<body>
    <div class="signup-form">
        <form action="#" method="post">
            <h2>Registro</h2>
            <p class="hint-text">Crea tu cuenta. Es gratis y solo toma algunos minutos.</p>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="first_name" placeholder="Primer nombre" required="required">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="last_name" placeholder="Primer apellido" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Correo electronico" required="required">
            </div>
            <div class="form-group">
                <input type="nick-name" class="form-control" name="nick-name" placeholder="Usuario" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Contraseña" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirma tu contraseña" required="required">
            </div>
            <div class="form-group"> 
                <p class="hint-text">Ingresa tú dirección de residencia:</p> 
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="street" placeholder="Calle" required="">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="avenue" placeholder="Avenida" required="">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="diagonal" placeholder="Diagonal" required="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="Lot" placeholder="Lote" required="">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="manzana" placeholder="Manzana" required="">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="sector" placeholder="Sector" required="">
                    </div>
                </div>
            </div>
            <div class="form-group">
              <div class="row">
                  <div class="col">
                      <input type="text" class="form-control" name="residencial" placeholder="Residencial" required="">
                  </div>
                  <div class="col">
                      <input type="text" class="form-control" name="colonia" placeholder="Colonia" required="">
                  </div>
              </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="ciudad" placeholder="Ciudad" required="">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="zona" placeholder="Zona" required="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="municipio" placeholder="Municipio" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="departamenyo" placeholder="Departamento" required="required">
            </div>
            <div class="form-group">
                <label class="form-check-label">
                    <input type="checkbox" required="required"> Yo acepto los
                    <a href="#">Terms of Use</a> &amp;
                    <a href="#">Privacy Policy</a>
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Registrate Ahora</button>
            </div>
        </form>
        <div class="text-center">¿Ya tienes una cuenta?
            <a href="#">Inicia sesión</a>
        </div>
    </div>
</body>